<div class="">
  <div class="container-fluid navbar">
      <div class="logo">
          Prophet AI
          <span class="title">Predictive Student Analysis</span>
      </div>
      
      <div class="icons-holder">
        

        <div class="dropdown">
            <!-- <button class="btn btn-secondary dropdown-toggle" type="button" >
              Dropdown button
            </button> -->
            <a id="dropdownMenuButton" class="cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/icons/student-m.svg" height="30px" width="auto" >
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Logout</a>
              
            </div>
          </div>
      </div>
    



      
  </div>

  <div class="container-fluid main-content">
      <router-outlet></router-outlet>
  </div>
  

</div>

