
<div class="container-fluid">
    
    <div class="row profile-navbar">
      <div class="col-md-8 ml-auto">
        <div class="profile-tabs">
          <ul class="tabs-holder">
            <li class="tab"><a href="#" [routerLink]="['/app/dashboard']">Dashboard</a></li>
            <li class="tab"><a href="#" class="selected" [routerLink]="['/app/students-list']">Students List</a></li>
            <!-- <li class="tab"><a href="#" [routerLink]="['/app/profile']">Profile</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    
    
      <div class="row mb-4">
       
    
        <div class="col-md-12" [@cardAnimation1]>
          <div class="card table-wrapper mt-4">
            <h4 class="heading">Students List</h4>
            <table class="table">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Roll number</th>
                    <th>Department</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
                
              </thead>
              <tbody>
                <tr class="cursor-pointer" *ngFor="let student of studentsListFinal; let i = index" (click)="openProfile(student)">
                    <td >
                      <img class="profile-image" *ngIf="student?.student_gender == 'M'" src="assets/icons/student-m.svg">
                      <img class="profile-image" *ngIf="student?.student_gender == 'F'" src="assets/icons/student-g.svg">
                      {{student?.student_first_name}} {{student?.student_last_name}}
                    </td>
                    <td>{{student?.student_regno}}</td>
                    <td>{{student?.student_department}}</td>
                    <td>{{student?.student_email}}</td>
                    <td>
                      <img class="align-center" src="assets/loader-heavy.svg" *ngIf="!student.prediction" height="30" width="30">
                        <span class="badge status-{{student?.prediction}}" *ngIf="student.prediction">{{student?.prediction}}</span>
                      <!-- <span class="badge status-dropout" *ngIf="i > 10 && i<= 20">Dropout</span>
                      <span class="badge status-pg" *ngIf="i <= 10">PG</span>
                      <span class="badge status-nothing" *ngIf="i > 20">Job</span> -->
                    </td>
                </tr>  
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>